body{
    background-color: black
}

.container-fluid{
    height:100vh;
    width: 100%;
    background-color: rgba(26, 32, 44);
}
.text{
    background-image: linear-gradient(to bottom right, red, yellow);
    background-clip: text;
    color: transparent;
}
input{
    border-radius: 10px;
    height: 41px;
    background-color: rgba(50, 105, 107, 0.545);
    border: none;
    width: 230px;
    text-align: center;
    margin-right: 2px;
    
}
button{
   
    border: 1px solid black !important;
    font-size: 17px !important;
     border-radius: 10px  !important;
     background-color: #83cdf7 !important;
     height: 43px;
     width: 83px;
    
}
/* .btn {
    pointer-events: none;
} */
.span{
    width:auto;
    border: 1px solid rgb(97, 94, 88);   
    display: inline-block;
    border-radius: 10px;
     background-color: rgba(26, 32, 44);
     text-align: center;
     padding: 3px 15px;
     min-width: 300px;
     margin-top: 2px
}

i{
    margin-left: 30px;
    font-size: 22px;
}

i:hover{
    color: rgb(255, 0, 0);
    font-size: 26px;
    
}
.new-btn{
    width: 103px;
}
.new-btn:hover{
    background-color: rgb(10, 108, 132) !important;
    color: aliceblue !important; 

}

/* input:valid + button {
    pointer-events: all !important;
}
  */
.image{
    border-radius: 20px;
}
.darkimage{
    width: 7%;
}
.form-check-input{
    display: none;
} 
    

