body{
    background-color: rgba(26, 32, 44 )
}

.container-fluid{
    height:auto;
    width: 100%;
    background-color: rgba(26, 32, 44);
}
.text{
    background-image: linear-gradient(to bottom right, red, yellow);
    background-clip: text;
    color: transparent;
}
input{
    border-radius: 10px;
    height: 41px;
    background-color: rgba(50, 105, 107, 0.545);
    border: none;
    width: 230px;
    text-align: center;
    
}
button{
   
    border: 1px solid black !important;
    font-size: 17px !important;
     border-radius: 10px  !important;
     background-color: #83cdf7 !important;
     height: 43px;
     width: 83px;
    
}
.btn {
    pointer-events: none;
}
.span{
    width:auto;
    border: 1px solid rgb(97, 94, 88);   
    display: inline-block;
    border-radius: 10px;
     background-color: rgba(26, 32, 44);
     text-align: center;
}
i:hover{
    color: rgb(255, 0, 0);
    
}
.new-btn{
    width: 103px;
}
.new-btn:hover{
    background-color: rgb(10, 108, 132) !important;
    color: aliceblue !important; 

}

input:valid + button {
    pointer-events: all !important;
}